/* @import url(./font.css); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* if you use Google fonts, first write link(preload) in html then write fontFamily: ["font" , sans-serif] in taildinwcss */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width:1460px){
    .container{
        padding: 0 20px;
    }
}

